* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: #1C1C1C; */
  background-color: #F5F7FB;
  color: #293264;
  position: relative;
}
main {
  /* background-color: #F5F7FB;
  color: #293264; */
  max-width: 750px;
  padding: 2rem;
  margin: 0px auto;
  /* border-radius: 2px; */

  position: relative;
  /* To add only in welcome state */
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.quizz{
  height: 700px;
  align-items: center;
}

.y,
.b{
  position: absolute;
}
.y{
  width: 30%;
  top: 0px;
  right: 0px;
}
.b{
  width: 10%;
  bottom: 0px;
  left: 0px;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
h2{
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
h4{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: .5em;
  margin-bottom: 1.8em;
}
h5{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  margin-right: 1em;
}



.welcome{
  text-align: center;
}
.start-btn{
  border: none;
  border-radius: 15px;
  background-color: #4D5B9E;
  font-size: 1rem;
  color: #F5F7FB;
  padding: 1em 2.7em;
  cursor: pointer;
}
.start-btn:active{
  outline: none;
  background-color: #243381;
}



.quizz-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question{
  max-width: 85%;
  padding: 1em 0;
  border-bottom: 1px solid #DBDEF0;
}
.question h2{
  padding-bottom: 0.5em;
}

.ans-container{
  display: flex;

}
.ans-container span{
  margin-right: 0.8em;
  border: 1px solid #D6DBF5;
  border-radius: 0.8em;
  padding: 0.4em 1.2em;
  font-family: 'Inter', sans-serif;
  font-size: 0.75em;
  font-weight: 700;

  /* Making them buttons */
  cursor: pointer;
  }
  .ans-container span:hover{
    background-color: #f0f2f5;
  }


  .ans-container span:active{
    background-color: #D6DBF5;
    outline: none;
  }


.check-btn,
.play-btn{
  border: none;
  border-radius: 10px;
  background-color: #4D5B9E;
  font-size: 0.8rem;
  color: #F5F7FB;
  padding: 1em 2em;
  cursor: pointer;
}
.play-btn{
  padding: 0.8em 1.75em;
}
.check-btn:active,
.play-btn:active{
  outline: none;
  background-color: #243381;
}

.btn-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:430px){
  body {
    padding: 0;
    margin: 0;
  }
  main{
    width: 100vw;
    height: 100wh;
    padding: 1.5rem 2rem;
    margin: 0;
  }
  .quizz{
    justify-content: space-around;
    height: 100vh;
  }
  .quizz-container{
    width: 100%;
  }
  .question {
    max-width: 100%;
  }
  .ans-container{
    flex-wrap: wrap;
    
  }
  .ans-container span{
    flex-basis: 45%;
    flex-grow: 1;
    margin-bottom: 0.5em;
  }
   
}